*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

button,
input {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 40px 20px;
    text-align: center;
    color: #fffafa;
    background-image: url('images/football.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    font-weight: 400;
}

header p:last-of-type {
    margin-top: 2px;
    font-size: 0.95em;
}

.initial-container {
    /* border: 1px solid; */
    margin-top: 20px;
}

.first {
    text-align: center;
}

.input-club,
.list-clubs {
    width: 200px;
    margin: 0 auto;
}

.input-club {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 0.95em;
    padding: 5px 10px;
}

.input-club-adjust {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-clubs {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px 0;
}

.list-clubs li {
    padding: 5px 0;
}

.list-clubs-adjust {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}




.button-choose-second-club,
.button-compare-clubs {
    display: none;
}
