*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

button,
input {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 40px 20px;
    text-align: center;
    color: #fffafa;
    background-image: url('images/football.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    font-weight: 400;
}

header p:last-of-type {
    margin-top: 2px;
    font-size: 0.95em;
}

.initial-container {
    padding: 30px 20px;
}

.choose-container {
    text-align: center;
}

.choose-instructions {
    margin-bottom: 20px;
}

.choose-instructions p:first-of-type {
    position: relative;
    font-size: 0.95em;
    font-weight: 700;
    color: #fc8621;
    margin-bottom: 2px;
}

.choose-instructions p:first-of-type span:first-of-type,
.choose-instructions p:first-of-type span:last-of-type {
    position: relative;
}

.choose-instructions p:first-of-type span:first-of-type::before,
.choose-instructions p:first-of-type span:last-of-type::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fc8621;
    margin-top: -0.5px;
}

.choose-instructions p:first-of-type span:first-of-type::before {
    margin-left: -10px;
}

.choose-instructions p:first-of-type span:last-of-type::after {
    margin-left: 4px;
}

.choose-instructions p:last-of-type {
    font-size: 0.9em;
    color: #616161;
}

.input-club,
.list-clubs {
    width: 250px;
    margin: 0 auto;
    font-size: 0.9em;
}

.input-club {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
}

.input-club-adjust {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-clubs {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 0;
}

.list-clubs-adjust {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.list-clubs li {
    padding: 8px 0;
}

.overview-container {
    display: none;
}
